.background-img {
    width: 100%;
    min-height: 100%;
    background: url(../../assets/img/menu/autificationPage.jpg) no-repeat;
    background-size: cover;
}

.login-form-wrapper {
    width: auto;
    margin-top: 7%;
    position: relative;
    max-width: 460px;
}

.header-lunchtimer {
  background-color: #199cb0;
  color: white;
  padding: 20px 0;
  text-align: center;
  height: 90px;
}

.header-icon {
    width: 230px;
    height: 30px;
    line-height: 100px;
    margin: 0 auto;
}

.header-lunchtimer-logo {
  width: 230px;
  margin-top: 5%;
  margin: 0 auto;
  font-size: 30px;
  display: block;
  text-align: center;
}


.header-lunchtimer-logo-wrapper {
  width: 305px;
  margin: 0 auto;
}

.login-form-footer-logo {
    margin: 0 auto;
    margin-bottom: 0px;
    text-align: center;
}

.footer-logo {
    width: 40%;
    height: 12%;
    margin-top: 10%;
    margin-bottom: 5%;
}
