<div class="container background-img">
    <div class="container login-form-wrapper">
        <div class="header-lunchtimer">
            <div class="header-lunchtimer-logo-wrapper">
                <logo class="header-lunchtimer-logo" ></logo>
            </div>
        </div>
        <login-form ng-if="$ctrl.signin"></login-form>
        <registration-form ng-if="$ctrl.goToSelectPage(&quot;registration&quot;)"></registration-form>
        <confirm-registration-form ng-if="$ctrl.goToSelectPage(&quot;confirm-registration&quot;)"></confirm-registration-form>

        <div class="footer-lunchtimer">
            <div class="login-form-footer-logo">
                <img class="footer-logo" src="../../assets/img/angularjs.png">
            </div>
        </div>
    </div>
</div>
