<div class="menu-tile">
  <div class="menu-tile-dish" ng-show="$ctrl.displayDish">

    <menu-tile-label label-type="$ctrl.dishData.labelType" dish-data="$ctrl.dishData"></menu-tile-label>

    <div class="menu-tile-dish__header clearfix">
        <div class="menu-tile-link menu-tile-link--comments">
           <a href="" ng-click="$ctrl.showComments()">
             Comments
             <span class="icon-arrow-right"></span>
           </a>
        </div>
    </div>
    <div class="menu-tile-dish__image">
        <img src="../../assets/img/menu/dish-image-example.png" alt="" />
    </div>
    <div class="menu-tile-dish__name">
        {{$ctrl.dishData.name}}
    </div>
    <div class="menu-tile-dish__description">
        {{$ctrl.dishData.description}}
    </div>
    <div class="menu-tile-dish__bottom clearfix">
        <div class="menu-tile-price">
            {{$ctrl.dishData.price}}
        </div>
        <div class="menu-tile-amount">
            <input type="number" class="menu-tile-amount__input" min="0" step="1" />
        </div>
        <div class="menu-tile-order">
            <button class="menu-tile-order__btn uui-button blue">Заказать</div>
        </div>
    </div>
  </div>

  <div class="menu-tile-comments" ng-show="$ctrl.displayComments">
    <div class="menu-tile-comments__header">
      <div class="menu-tile-link">
        <a href="" class="menu-tile-link" ng-click="$ctrl.showDish()">
          <span class="icon-arrow-left"></span>
          Блюдо
        </a>
      </div>
      <div class="menu-tile-link">
        <a href="" class="menu-tile-link">
          <span class="icon-plus"></span>
          Add Comments
        </a>
      </div>
    </div>
    <div class="menu-tile-comments__list">

      <div class="dish-comment" ng-repeat="comment in $ctrl.dishData.comments">
        <div class="dish-comment__avatar">
          <img src="../../assets/img/menu/ava-example.png" alt="" />
        </div>
        <div class="dish-comment__content">
          <div class="comment-header">
            <div class="comment-header__name">
              {{comment.name}}
            </div>
            <div class="comment-header__likes">
              <span class="icon-like-gray"></span>
              {{comment.likes}}
            </div>
          </div>
          <div class="comment-date">
            {{comment.date}}
          </div>
          <div class="comment-message">
            {{comment.message}}
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
