.b-datepicker {
  height: 60px;
  position: relative;
  float: right;
  text-align: center;

  &__wrapper {
    height: 100%;
  }

  &__title {
    display: block;
  }
  &__value, &__icon {
    display: inline-block;
    vertical-align: bottom;
    padding-right: 5px;
    font-size: 17px;
  }
  &__icon {
    font-size: 16px;
    margin-top: -10px;
  }

  &__input {
    display: none;
  }
}

@media all and (max-width: 992px) {
  .b-datepicker {
    // display: none;
    float: none;
    clear: both;
    padding-top: 20px;
    text-align: start;
    &__title {
      float: left;
      padding-right: 10px;
    }

    &.b-datepicker--showed {
      display: block;
    }

  }
}
