.b-datepicker {
  height: 60px;
  position: relative;
  float: left;
  text-align: center;
  color: #a1a1a1;
  background-color: #464547;

  &:hover {
    background: #333;
    color: #fff;
  }

  &__wrapper {
    height: 100%;
    padding: 20px;
  }

  &__title {
    display: block;
  }
  &__value, &__icon {
    display: inline-block;
    vertical-align: bottom;
    color: #fff;
    padding-right: 5px;
  }
  &__icon {
    color: #fff;
    font-size: 16px;
    margin-top: -10px;
    &:hover {
    }
  }

  &__input {
    display: none;
  }
}

@media all and (max-width: 992px) {
  .b-datepicker {
    display: none;
    float: none;
    clear: both;
    padding-top: 20px;
    text-align: start;
    &__title {
      float: left;
      padding-right: 10px;
    }

    &.b-datepicker--showed {
      display: block;
    }

  }
}
