$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


/* Sticky footer styles
-------------------------------------------------- */
body, html {
  min-height: 100%;
}

header {
  position: static !important;
  height: auto !important;
}

.main-container {
  min-height: 100%;
  padding-bottom: 60px;
  margin-bottom: -60px;
  height: auto;
}

.main-footer {
  height: 60px;
}
