.registration-form {
    // width: 85%;
    // height: 80%;
    background-color: rgba(233, 235, 232, 0.95);
    padding-top: 3%;
}

.registration_form-form {
    // width: 90%;
    padding: 0 35px;
    // padding-bottom: 3%;
}

.registration-form-input {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    // margin-bottom: 5%;
    border-color: none;
    padding-left: 3%;
}

.registration_form-button-wrapper {
    width: 100%;
    // background-color: #a3c644;
    color: white;
    text-transform: uppercase;
    margin-bottom: 2%;
    // margin-top: 35px;
}

.registration-page-title {
    width: 75%;
    margin: 5% auto;

}
.fancy {
    line-height: 0.5;
    text-align: center;
    color: #999999;
}
.fancy span {
    display: inline-block;
    position: relative;
}
.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 7px;
    border-bottom: 1px solid #999999;
    top: 0;
    width: 30px;
}
.fancy span:before {
    right: 100%;
    margin-right: 15px;
}
.fancy span:after {
    left: 100%;
    margin-left: 15px;
}

.registration_form-login-button {
    margin-left: 9%;
}

.registration-SingIn-button {
    padding: 0 35px 20px;
}

.registration_form-SingIn-button {
    margin: auto;
    width: 100%;
    // margin-bottom: 35px;
}

.uui-button.transparent.forgotten-password-button  {
    border-color:  transparent;
}

.uui-button.transparent.forgotten-password-button:hover, .uui-button.transparent.forgotten-password-button:focus, .uui-button.transparent.forgotten-password-button:active {
    background: transparent;
    border-color: rgba(233, 235, 232, 0.95);
    font-weight: bold;;
    color: #464547;
}

// .forgotten-password-button  {
//     margin-left: 40px;
// }

.greenColor {
    border: solid 2px #7F993A;
    color: #7F993A;
}

.redColorText {
    color: #8E244D;
    // font-size: 10px;
    padding: 0px;
    margin:0
}

.redColor {
    border: solid 2px #8E244D;
    color: #8E244D;
}

.form-width {
    height: 40px;
}

.form-group.form-width {
    height: 40px;
}
