<div class="registration-form">
    <h1 class="registration-page-title fancy">
        <span> Sign Up  </span>
    </h1>

    <div name="form"  class="registration_form-form">
        <form name="form">
            <div class="form-group form-width">
                <input name="email"
                    ng-model="$ctrl.email"
                    ng-model-options="{'updateOn': 'default blur', 'debounce': {'default': 300, 'blur': 0}}"
                    ng-class="{'greenColor': form.email.$valid, 'redColor': form.email.$invalid && form.email.$dirty}"
                    placeholder="user_name@epam.com"
                    class="registration-form-input"
                    email
                    required autofocus />
                    <p class="redColorText" ng-show="!form.email.$valid && form.email.$dirty && form.email.$viewValue.length">This email is not valid</p>
                    <p class="redColorText" ng-show="!form.email.$viewValue.length && form.email.$dirty">Please supply your email</p>
            </div>
            <div class="form-group form-width">
                <input name="password"
                    ng-model="$ctrl.password"
                    ng-model-options="{'updateOn': 'default blur', 'debounce': {'default': 300, 'blur': 0}}"
                    ng-class="{'greenColor': form.password.$valid, 'redColor': form.password.$invalid && form.password.$dirty}"
                    placeholder="........"
                    class="registration-form-input"
                    type="password"
                    password
                    required />
                    <p class="redColorText" ng-show="!form.password.$valid && form.password.$dirty && form.password.$viewValue.length">This password is not valid</p>
                    <p class="redColorText" ng-show="!form.password.$viewValue.length && form.password.$dirty">Please supply your password</p>
            </div>
            <div class="form-group form-width">
                <input name="confirmPassword"
                ng-model="$ctrl.confirmPassword"
                ng-model-options="{'updateOn': 'default blur', 'debounce': {'default': 300, 'blur': 0}}"
                ng-class="{'greenColor': form.confirmPassword.$valid, 'redColor': form.confirmPassword.$invalid && form.confirmPassword.$dirty}"
                placeholder="confirm password"
                class="registration-form-input"
                first-password="{{$ctrl.password}}"
                type="password"
                confirm-password
                required />
                <p class="redColorText" ng-show="!form.confirmPassword.$valid && form.confirmPassword.$dirty && form.confirmPassword.$viewValue.length">This password is not valid</p>
                <p class="redColorText" ng-show="!form.confirmPassword.$viewValue.length && form.confirmPassword.$dirty">Please supply your password</p>
            </div>
            <div class="form-group form-width">
                <input name="name"
                    ng-model="$ctrl.name"
                    min-length="2"
                    ng-model-options="{'updateOn': 'default blur', 'debounce': {'default': 300, 'blur': 0}}"
                    ng-class="{'greenColor': form.name.$valid, 'redColor': form.name.$invalid && form.name.$dirty}"
                    placeholder="имя"
                    class="registration-form-input"
                    text-only
                    required />
                    <span  class="redColorText" ng-show="!form.name.$valid && form.name.$dirty && form.name.$viewValue.length">This name is not valid</span>
                    <span  class="redColorText" ng-show="!form.name.$viewValue.length && form.name.$dirty">Please supply your name</span>
            </div>
            <div class="form-group form-width">
                <input name="surname"
                    ng-model="$ctrl.surname"
                    min-length="2"
                    ng-model-options="{'updateOn': 'default blur', 'debounce': {'default': 300, 'blur': 0}}"
                    ng-class="{'greenColor': form.surname.$valid, 'redColor': form.surname.$invalid && form.surname.$dirty}"
                    placeholder="фамилия"
                    class="registration-form-input"
                    text-only
                    required />
                     <span class="redColorText" ng-show="!form.surname.$valid && form.surname.$dirty && form.surname.$viewValue.length">This surname is not valid</span>
                     <span class="redColorText" ng-show="!form.surname.$viewValue.length && form.surname.$dirty">Please supply your surname</span>
            </div>
            <div class="form-group form-width">
            <input name="phone"
                ng-model="$ctrl.phone"
                placeholder="+38088-888-88-88"
                ng-model-options="{'updateOn': 'default blur', 'debounce': {'default': 300, 'blur': 0}}"
                ng-class="{'greenColor': form.phone.$valid, 'redColor': form.phone.$invalid && form.phone.$dirty}"
                class="registration-form-input"
                phone
                required />
                <span class="redColorText" ng-show="!form.phone.$valid && form.phone.$dirty && form.phone.$viewValue.length">This phone is not valid</span>
                <span class="redColorText" ng-show="!form.phone.$viewValue.length && form.phone.$dirty">Please supply your phone</span>
            </div>

            <div class="registration_form-button-wrapper">
                <button type="submit" class="btn registration_form-button-wrapper uui-button large lime-green" ng-disabled="!form.$valid"> Create account </button>
            </div>
        </form>
    </div>

    <p class="registration-page-title fancy">
        <span> or </span>
    </p>

    <div class="epam-login registration-SingIn-button" >
        <button class="uui-button dark-gray registration_form-SingIn-button" ng-click=$ctrl.redirect()>
            Sign in
        </button>
    </div>
</div>
