<div class="login-form">
    <div class="confirmation-wrapper">
        <h3 class="confirmation-title">На ваш почтовый адрес отправлено письмо с подтверждением</h3>

        <p class="confirmation-text">Необходимо подтвердить Ваш электронный ящик.</p>

        <span class="uui-icon preview-icon large confirmation-icon">
            <i class="fa fa-envelope-o confirmation-icon-font"></i>
        </span>

        <p class="confirmation-text">Нажмите на ссылку "Подтверждаю" в письме, которое мы только что Вам отправили.</p>

            <div class="login-form-button-wrapper">
                <button class="btn login-form-button  uui-button large lime-green" ng-click="$ctrl.gotoSignin()"> Sign in </button>
            </div>
    </div>
</div>
