.confirmation-wrapper {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.confirmation-title {
    color: #199cb0;
    text-align: center;
}

.confirmation-text {
    padding-top: 10px;
    font-size: 16px;
    text-align: center;
}

.confirmation-icon {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
}

.confirmation-icon-font {
    font-size: 85px;
    color: #199cb0;
}
