.login-form {
    background-color: rgba(233, 235, 232, 0.95);
    padding-top: 3%;
    padding-top: 35px;
}

.form {
    padding: 0 35px;
    margin-top: 25px;
}

.login-form-input {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-color: none;
    padding-left: 3%;
}

.login-form-button{
    width: 100%;
    text-align: center;
    background-color: #a3c644;
    color: white;
    text-transform: uppercase;
}

.login-form-button-wrapper {
    background-color: #a3c644;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.page-title {
    width: 75%;
    margin: 5% auto;
}

.registration-form-button {
    float: right;
}

.uui-button.transparent.forgotten-password-button  {
    border-color:  transparent;
}

.uui-button.transparent.forgotten-password-button:hover, .uui-button.transparent.forgotten-password-button:focus, .uui-button.transparent.forgotten-password-button:active {
    background: transparent;
    border-color: rgba(233, 235, 232, 0.95);
    font-weight: bold;;
    color: #464547;
}

.login-button-wrapper {
    padding:35px;
}

@media screen and (max-width: 576px) {
    .login-button-wrapper {
        text-align: center;
    }

    .registration-form-button {
        margin-top: 5px;
        margin-bottom: 5px;
        float: none;
    }

}

.greenColor {
    border: solid 2px #7F993A;
    color: #7F993A;
}

.redColorText {
    color: #8E244D;
    padding: 0px;
    margin:0
}

.redColor {
    border: solid 2px #8E244D;
    color: #8E244D;
}
