.login-form {
    width: 98%;
    height: 73%;
    background-color: rgba(233, 235, 232, 0.95);
    padding-top: 90px;
}

.form {
    width: 350px;
    margin-left: 40px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.login-form-input {
    width: 75%;
    height: 5%;
    margin-bottom: 4%;
    border-color: none;
    padding-left: 3%;
}

.login-form-button {
    width: 350px;
    background-color: #a3c644;
    color: white;
    text-transform: uppercase;
}

.page-title {
    color: red;
    width: 430px;
    margin: 0 auto 30px auto;
}
.fancy {
    line-height: 0.5;
    text-align: center;
    color: #999999;
}
.fancy span {
    display: inline-block;
    position: relative;
}
.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 7px;
    border-bottom: 1px solid #999999;
    top: 0;
    width: 30px;
}
.fancy span:before {
    right: 100%;
    margin-right: 15px;
}
.fancy span:after {
    left: 100%;
    margin-left: 15px;
}

.registration-form-button {
    margin-left: 40px;
}

.uui-button.transparent.forgotten-password-button  {
    border-color:  transparent;
}

.uui-button.transparent.forgotten-password-button:hover, .uui-button.transparent.forgotten-password-button:focus, .uui-button.transparent.forgotten-password-button:active {
    background: transparent;
    border-color: rgba(233, 235, 232, 0.95);
    font-weight: bold;;
    color: #464547;
}

.forgotten-password-button  {
    margin-left: 40px;
}
