<ul class="b-top-navigation" ng-class="{'b-top-navigation--showed': $ctrl.menuShowed}">
    <li class="b-top-navigation__item" ng-if="!$ctrl.visibility">
        <a
            class="b-top-navigation__link"
            ng-click="$ctrl.gotoRegistration()"
            >Sign up</a>
    </li>
    <li class="b-top-navigation__item" ng-if="!$ctrl.visibility">
        <a ui-sref="signin" class="b-top-navigation__link">Login</a>
    </li>
    <li class="b-top-navigation__item" ng-if="$ctrl.visibility">
        <a class="b-top-navigation__link"> Hello, {{$ctrl.userMenu.name}} {{$ctrl.userMenu.surname}}</a>
    </li>
</ul>
