<li class="dropdown" uib-dropdown on-toggle="toggled(open)">
    <a href="{{$ctrl.href}}" class="dropdown-toggle" data-toggle="dropdown" id="simple-dropdown" uib-dropdown-toggle>
        {{$ctrl.title}}
        <div class="arrow fa fa-angle-right"></div>
    </a>
    <ul class="dropdown-menu" role="menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
        <li class="text-center"><a href="#">Admin</a></li>
        <li class="text-center"><a href="#">Profile</a></li>
        <li class="text-center"><a href="#">Order history</a></li>
        <li class="text-center"><a href="#">Settings</a></li>
    </ul>
</li>